<div class="container-fluid">
    <div class="row">
        <div class="card col-md">
            <div class="card-body">
                <h5 class="card-title">Request Management</h5>
                <p class="card-text">View and manage pending non-critical requests</p>
                <a routerLinkActive=active routerLink="/tier1/manage-requests" class="btn btn-primary">Manage Requests</a>
            </div>
        </div>
        <div class="card col-md">
            <div class="card-body">
                <h5 class="card-title">Customer Functions</h5>
                <p class="card-text">View customer accounts and create non-critical transactions</p>
                <a routerLinkActive=active routerLink="/tier1/customer-functions" class="btn btn-primary">Perform Customer Functions</a>
            </div>
        </div>
    </div>
</div>

