<div class="container-fluid">
    <div class="row button-row">
        <div class="col-md d-flex">
            <a class="btn btn-primary btn-md" routerLinkActive="active" routerLink="/admin/dashboard" role="button">
                <i class="fa fa-arrow-left"></i> Back
            </a>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron transactions-jumbo container-fluid">
            <h4>System Log</h4>
            <p>&nbsp;</p>
            <div id="list">
                <p> {{logFile}} </p>
            </div>
        </div>
    </div>
</div>
