<div class="container-fluid">
    <div class="row">
        <div class="card col-md">
            <div class="card-body">
                <h5 class="card-title">Employee Management</h5>
                <p class="card-text">Add, modify, or delete employee accounts.</p>
                <a routerLinkActive=active routerLink="/admin/manage-employees" class="btn btn-primary">Manage Employees</a>
            </div>
        </div>
        <div class="card col-md">
            <div class="card-body">
                <h5 class="card-title">System Log</h5>
                <p class="card-text">View system log to see activity and system health reports.</p>
                <a routerLinkActive=active routerLink="/admin/system-log" class="btn btn-primary">View Log</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md">
            <div class="card-body">
                <h5 class="card-title">Tier 1 Functions</h5>
                <p class="card-text">
                    Access the Tier 1 Dashboard to perform functions such as
                    viewing customer accounts and authorizing non-critical transactions.
                </p>
                <a routerLinkActive=active routerLink="/tier1" class="btn btn-primary">Access Tier 1 Dashboard</a>
            </div>
        </div>
        <div class="card col-md">
            <div class="card-body">
                <h5 class="card-title">Tier 2 Functions</h5>
                <p class="card-text">
                    Access the Tier 2 Dashboard to perform functions such as 
                    managing customer accounts and authorizing critical transactions.
                </p>
                <a routerLinkActive=active routerLink="/tier2" class="btn btn-primary">Access Tier 2 Dashboard</a>
            </div>
        </div>
    </div>
</div>
