<div class="container-fluid">
    <div class="row button-row">
        <div class="col-md d-flex">
            <a class="btn btn-primary btn-md" routerLinkActive="active" routerLink="/tier1/dashboard" role="button">
                <i class="fa fa-arrow-left"></i> Back
            </a>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron container-fluid">
            <h3>Customer Functions</h3>
            <hr>
            <p>Search for a customer below to view the customer's accounts and initiate transactions.</p>
            <i>Please enter a customer's username below to search.</i>
        </div>
    </div>
</div>

