.container {
    display: flex;
    justify-content: center;
}

.button-row {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 1rem;
}

.jumbotron {
    background-color: var(--primary-color);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}

.form-jumbo h1 {
    font-weight: bold;
    font-size: 2em;
}

.form-group {
    background-color: var(--primary-color);
    justify-content: center;
}

label {
    color: white;
    font-weight: bold;
}

input:read-only {
    background-color: rgb(182, 180, 180);
}

button {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: black;
    border-color: black;
}

a.btn.btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    font-weight: bold;
}

a.btn.btn-primary:hover, a.btn.btn-primary:focus, a.btn.btn-primary:active, a.btn.btn-primary.active, .open>.dropdown-toggle.a.btn.btn-primary {
    background-color: black;
    border-color: black;
}

.form-control.ng-touched.ng-invalid{
    border:2px solid var(--error-border-color);
    background-color: var(--error-color);
}