<div class="wrapper">
    <div class="navbar">
        <div class="nav flex-column">
            <a class="nav-link transaction" routerLinkActive="active" routerLink="/home/view-requests"><i class="fa fa-money" aria-hidden="true"></i> View Requests</a>
            <a class="nav-link transaction" routerLinkActive="active" routerLink="/home/schedule-appointment"><i class="fa fa-calendar" aria-hidden="true"></i> Schedule Appointment</a>
            <a class="nav-link transaction" routerLinkActive="active" routerLink="/home/new-account"><i class="fa fa-plus-square" aria-hidden="true"></i> Open Another Account</a>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row d-flex flex-wrap">
                <div class="card col-sm">
                    <div class="card-body">
                        <h5 class="card-title">Account</h5>
                        <p class="card-text">Account No. Ending In: **</p>
                        <p class="card-text">Present Balance: </p>
                        <a routerLinkActive=active routerLink="/home/account" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
                <div class="card col-sm">
                    <div class="card-body">
                        <h5 class="card-title">Account</h5>
                        <p class="card-text">Account No. Ending In: **</p>
                        <p class="card-text">Present Balance: </p>
                        <a routerLinkActive=active routerLink="/home/cc-account" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
                <div class="card col-sm">
                    <div class="card-body">
                        <h5 class="card-title">Account</h5>
                        <p class="card-text">Account No. Ending In: **</p>
                        <p class="card-text">Present Balance: </p>
                        <a routerLinkActive=active routerLink="/home/account" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
                <div class="card col-sm">
                    <div class="card-body">
                        <h5 class="card-title">Account</h5>
                        <p class="card-text">Account No. Ending In: **</p>
                        <p class="card-text">Present Balance: </p>
                        <a routerLinkActive=active routerLink="/home/cc-account" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
                <div class="card col-sm">
                    <div class="card-body">
                        <h5 class="card-title">Account</h5>
                        <p class="card-text">Account No. Ending In: **</p>
                        <p class="card-text">Present Balance: </p>
                        <a routerLinkActive=active routerLink="/home/account" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
                <div class="card col-sm">
                    <div class="card-body">
                        <h5 class="card-title">Account</h5>
                        <p class="card-text">Account No. Ending In: **</p>
                        <p class="card-text">Present Balance: </p>
                        <a routerLinkActive=active routerLink="/home/cc-account" class="btn btn-primary btn-sm">View Details</a>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>
