<div class="container-fluid">
    <div class="row button-row">
        <div class="col-md d-flex">
            <a class="btn btn-primary btn-md" routerLinkActive="active" routerLink="/login" role="button">
                <i class="fa fa-arrow-left"></i> Back to Login</a>
        </div>
        <div class="col-md d-flex">
            <a class="btn btn-primary btn-md ml-auto" routerLinkActive="active" routerLink="/registration" role="button">Apply for an Account</a>
        </div>
    </div>
    <div class="jumbotron about-jumbo">
        <h2>Banking options that fit your needs.</h2>
        <hr>
        <h6>Here at Sunrise Bank, we want to make banking a little brighter. We offer a  
            variety of accounts to fit your needs. Explore our account options below:
        </h6>
        <br>
        <br>
        <h6 class="options">Checking Account:</h6>
        <ul>
            <li>Free to open. $5.00 monthly service fee.</li>
            <li>Withdraw from any ATM. No ATM fees!</li>
            <li>Choose from different debit card designs!</li>
        </ul>
        <h6 class="options">Savings Account:</h6>
        <ul>
            <li>Earn %0.40 APY!</li>
            <li>No monthly service fee with minimum $500.00 balance.</li>
        </ul>
        <h6 class="options">Credit Card Account:</h6>
        <ul>
            <li>0% APR for the first 15 months!</li>
            <li>Earn 2% back when you use your card!</li>
        </ul>
        <br>
        <br>
        <p>**Disclaimer** We are not a real bank.</p>
    </div>
</div>
