<div class="container-fluid">
    <div class="row">
        <div class="card col-md">
            <div class="card-body">
                <h5 class="card-title">Request Management</h5>
                <p class="card-text">View and manage pending critical requests</p>
                <a routerLinkActive=active routerLink="/tier2/manage-requests" class="btn btn-primary">Manage Requests</a>
            </div>
        </div>
        <div class="card col-md">
            <div class="card-body">
                <h5 class="card-title">Customer Management</h5>
                <p class="card-text">Create, modify, and delete customer accounts.</p>
                <a routerLinkActive=active routerLink="/tier2/manage-customers" class="btn btn-primary">Manage Customers</a>
            </div>
        </div>
    </div>
</div>
