<div class="navbar">
    <div class="nav flex-column">
        <a class="nav-link back" routerLinkActive="active" routerLink="/home/dashboard"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Accounts</a>
        <a class="nav-link transaction" routerLinkActive="active" routerLink="/home/cc-account/cc-account-summary"><i class="fa fa-list-alt" aria-hidden="true"></i> Account Summary</a>
        <a class="nav-link transaction" routerLinkActive="active" routerLink="banking-statement"><i class="fa fa-file-text-o" aria-hidden="true"></i> View Banking Statement</a>
        <a class="nav-link transaction" routerLinkActive="active" routerLink="debit"><i class="fa fa-minus-circle" aria-hidden="true"></i> Withdraw Funds</a>
        <a class="nav-link transaction" routerLinkActive="active" routerLink="cc-credit"><i class="fa fa-plus-circle" aria-hidden="true"></i> Pay Balance</a>
        <a class="nav-link transaction" routerLinkActive="active" routerLink="transfer"><i class="fa fa-exchange" aria-hidden="true"></i> Transfer Funds</a>
        <a class="nav-link transaction" routerLinkActive="active" routerLink="cashier-check"><i class="fa fa-check-circle" aria-hidden="true"></i> Request Cashier's Check</a>
    </div>
</div>
